
<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h3 class="title">
        会員情報編集
      </h3>
    </div>
  </div>
</section>

<%= form_with model: @customer, url: customers_update_path do |f| %>


<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-5">

  <div class="row mb-3">
    <p class="col-sm-2" style="margin-right:5.6%;">氏名</p>
    <p style="margin-right:1%;">(姓)</p>
      <div class="field" style="margin-right:1%;"><%= f.text_field :last_name %></div>
    <p style="margin-right:1%;">(名)</p>
      <div class="field" style="margin-right:1%;"><%= f.text_field :first_name %></div>
  </div>

  <div class="row mb-3">
    <p class="col-sm-2" style="margin-right:4.3%;">フリガナ</p>
    <p style="margin-right:1%;">(セイ)
      <div class="field" style="margin-right:1%;"><%= f.text_field :last_name_kana %></div>
    <p style="margin-right:1%;">(メイ)</p>
      <div class="field" style="margin-right:1%;"><%= f.text_field :first_name_kana %></div>
  </div>

  <div class="row mb-3">
    <p class="col-sm-3" style="margin-right:0.8%;">郵便番号(ハイフンなし)</p>
      <div class="field" style="margin-right:1%;"><%= f.text_field :postal_code, autofocus: true, autocomplete: "email" %></div>
  </div>

  <div class="row mb-3">
    <p class="col-sm-3" style="margin-right:0.8%;">住所</p>
      <div class="field" style="margin-right:1%;"><%= f.text_field :address, autofocus: true, autocomplete: "email" %></div>
  </div>


  <div class="row mb-3">
    <p class="col-sm-3" style="margin-right:0.8%;">電話番号(ハイフンなし)</p>
      <div class="field" style="margin-right:1%;"><%= f.text_field :telephone_number, autofocus: true, autocomplete: "email" %></div>
  </div>

  <div class="row mb-3">
    <p class="col-sm-3" style="margin-right:0.8%;">メールアドレス</p>
      <div class="field" style="margin-right:1%;"><%= f.email_field :email, autofocus: true, autocomplete: "email" %></div>
  </div>

  <div class="field">
    <span><%= f.submit "編集内容を保存", class: "btn btn-primary" %></span>
    <span><%= link_to "退会する", customers_confirmation_path, class: "btn btn-danger" %></span>
  </div>

<% end %>

     </div>
    </div>
  </div>
</section>



