<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h3 class="title">
        商品新規登録<br><br>
      </h3>
    </div>
  </div>
</section>



<!--items画面-->
<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-5">

<%= form_with model: @item, url: admin_items_path, method: :post do |f| %>


  <div class="row mb-3">
    <div class="mb-3"></div>
    <%= f.label :商品画像, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= f.file_field :image, accept: "image/*", class: "form-conrol" %>
    </div>
  </div>

  <div class="row mb-3">
    <%= f.label :商品名, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= f.text_field :name, class: "form-conrol" %>
    </div>
  </div>

  <div class="row mb-3">
    <%= f.label :商品説明, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= f.text_area :introduction, class: "form-conrol" %>
    </div>
  </div>

  <div class="row mb-3">
    <%= f.label :ジャンル, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= f.collection_select :genre_id, Genre.all, :id, :name, class: "form-conrol" %>
    </div>
  </div>

  <div class="row mb-3">
    <%= f.label :税抜価格, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= f.text_field :price, class: "form-conrol" %>円
    </div>
  </div>

  <div class="row mb-3">
    <%= f.label :販売ステータス, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%=  f.radio_button :is_active, true, class: "form-conrol" %>
      <%= f.label :is_active, "販売中" %>
      <%= f.radio_button :is_active, false %>
      <%= f.label :is_active, "販売停止中" %>
    </div>
  </div>


    <%= f.submit '新規登録', class: 'btn btn-success' %>

<% end %>
      </div>
    </div>
  </div>
</section>

