<section class="hero is-info">
  <div class="hero-body">
    <div class="container">

<h2>管理者ログイン</h2>

    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-5">

<%= form_with model: @admin, url: new_admin_session_path do |f| %>


  <div class="row g-3 align-items-center">
    <div class="mb-3">
    <%= f.label :メールアドレス, class: "col-form-label" %>
    </div>
    <div class="col-auto">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder => "username", class: "form-control" %>
    </div>
  </div>

  <div class="row g-3 align-items-center">
    <div class="mb-3">
    <%= f.label :パスワード, class: "col-form-label" %>
    </div>
    <div class="col-auto">
    <%= f.password_field :password, autocomplete: "current-password", :placeholder => "password", class: "form-control" %>
    </div>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me, class: "label" %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<%= render "admin/shared/links" %>

      </div>
    </div>
  </div>
</section>
