<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h3 class="title">
        会員一覧<br><br>
      </h3>
    </div>
  </div>
</section>

<table class="table">
	<thead class="table-active">
		<tr>
			<th>会員ID</th>
			<th>氏名</th>
			<th>メールアドレス</th>
			<th>ステータス</th>
		</tr>
	</thead>

	<body>
	  <% @customers.each do |customer| %>
	  <tr>
	    <td><%= customer.id %></td>
	    <td><%= link_to customer.last_name, admin_customer_path(customer.id) %><%= link_to customer.first_name, admin_customer_path(customer.id) %></td>
	    <td><%= link_to customer.email, admin_customer_path(customer.id) %></td>
	    <td>
	    <% if customer.is_deleted == true %>
	    退会
	    <% else %>
	    有効
	    <% end %>
	    </td>
	  </tr>
	  <% end %>

	   	<%= paginate @customers %>
	</body>


