<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h3 class="title">
        注文履歴詳細
      </h3>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-5">

<div>注文情報</div>


<table style="margin-bottom:5%;">
  <tr><th>購入者</th><td><%= @order.name %></td></tr>
  <tr><th>注文日</th><td><%= @order.created_at %></td></tr>
  <tr><th>配送先</th><td><%= @order.postal_code %><%= @order.address %> <%= @order.name %></td></td></tr>
  <tr><th>支払い方法</th><td><%= @order.payment_method %></td></tr>
</table>

<table class="table">
	<thead class="table-active">
		<tr>
			<th>商品名</th>
			<th>単価</th>
			<th>数量</th>
			<th>小計</th>
		</tr>
	</thead>

	<body>
	  <% @order_details.each do |o| %>
	  <tr>
	    <td><%= o.item.name %></td>
	    <td><%= o.price %></td>
	    <td><%= o.amount %></td>
	    <td><%= o.price * o.amount %></td>
	  </tr>
	  <% end %>
	</body>
</table>

     </div>
    </div>
  </div>
</section>
